/* add your CSS here */
.animal-photo {
  width: 300px;
  padding-bottom: 10px;
}
.stats {
  font-weight: bold;
}

#interesting-fact {
  font-style: italic;
}
#container {
  border: 1px solid gray;
  width: 300px;
  padding: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 10px 7px 8px #D3D3D3;
}
.animal-info {
  border: 1px solid gray;
  padding: 10px;
}
#facts {
  list-style-type: none;
}
